<footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
  <div class="main-footer-area">
    <div class="container">
      <div class="row">
        <!-- Logo + Social -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget">
            <div class="footer-logo mb-30">
              <a [routerLink]="['/']"><img src="img/core-img/logo.png" alt="Logo"></a>
            </div>
            <p>Chuyên cung cấp cây cảnh bonsai cao cấp, đẹp và chăm sóc tận tâm.</p>
            <div class="social-info">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
        <!-- Quick Link -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget">
            <div class="widget-title"><h5>LIÊN KẾT NHANH</h5></div>
            <nav class="widget-nav">
              <ul>
                <li><a [routerLink]="['/']">Trang chủ</a></li>
                <li><a [routerLink]="['/shop']">Cửa hàng</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- Categories -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget">
            <div class="widget-title"><h5>DANH MỤC</h5></div>
            <nav class="widget-nav">
              <ul>
                <li><a [routerLink]="['/shop']">Bonsai dáng thẳng</a></li>
                <li><a [routerLink]="['/shop']">Bonsai dáng nghiêng</a></li>
                <li><a [routerLink]="['/shop']">Bonsai rừng</a></li>
                <li><a [routerLink]="['/shop']">Cây văn phòng</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- Contact -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget">
            <div class="widget-title"><h5>LIÊN HỆ</h5></div>
            <div class="contact-information">
              <p><span>Địa chỉ:</span> 123 Đường Cây Xanh, Q.1, TP.HCM</p>
              <p><span>Điện thoại:</span> 0123 456 789</p>
              <p><span>Email:</span> bancaycanh@gmail.com</p>
              <p><span>Giờ mở cửa:</span> T2 - CN: 8:00 - 20:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-12"><div class="border-line"></div></div>
        <div class="col-12 col-md-6">
          <div class="copywrite-text"><p>Copyright &copy; 2026 Bán Cây Cảnh. All rights reserved.</p></div>
        </div>
        <div class="col-12 col-md-6">
          <div class="footer-nav">
            <nav><ul>
              <li><a [routerLink]="['/']">Trang chủ</a></li>
              <li><a [routerLink]="['/shop']">Cửa hàng</a></li>
              <li><a href="#">Liên hệ</a></li>
            </ul></nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
