.product-img .product-tag {
  position: absolute;
  top: 7px;
  left: 20px;
  z-index: 10;

  span {
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    border-radius: 2px;
    background-color: #1a75ba;
  }
}

.product-img .product-tag.sale-tag {
  span {
    background-color: #e61d47;
  }
}

.product-img .product-tag--right {
  left: auto;
  right: 13px;

  span {
    background-color: #70c745;
  }
}
